

body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    color: #333;
    align-items: center;
}
.pasos{
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background: azure;
    
    color: greenyellow;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: rgb(16, 15, 15);
    text-decoration: none;
}


.hero {
    text-align: center;
    padding: 60px 20px;
    background-color: greenyellow;
}


.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.tarjeta {
    flex: 1;
    min-width: 250px; 
    max-width: 350px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

button, .btn-main {
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }
    .nav-links {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    .nav-links li {
        margin: 10px 0;
    }
}